.container{
    margin-top: 50px;
}
body {
   
   
    color:black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px; 
}
img{
    height: 250px;
    width: 250px; 
    position: relative;
}

.about{
   
    margin-right: 70px; 
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)
}

.aboutPic{
    margin-right: 70px; 
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)
}

.stribe{
    background-color: lightgrey; 
}

#comments{
    margin-top:50px; 
    border: 1px solid black; 

}